<!DOCTYPE HTML>
<!--
	Horizons by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>No Sidebar - Horizons by TEMPLATED</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body class="no-sidebar">

		<!-- Header -->
			<div id="header">
				<div class="container">
						
					<!-- Logo -->
						<h1><a href="#" id="logo">여행 계획을 재밌고 편리하게</a></h1>
					
					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="index.html">Home</a></li>
								<li><a href="place.html">여행지</a></li>
								<li><a href="makeplan.html">일정 만들기</a></li>
								<li><a href="recommend.html">추천 코스</a></li>
								<li><a href="/history">나의 여행 기록들</a></li>
							</ul>
						</nav>

				</div>
			</div>

<!-- Main -->
			<div id="main" class="wrapper style1">
				<div class="container">
					<div class="row">
					
						<!-- Sidebar -->
						<div id="sidebar" class="4u sidebar">
							<section>
						<header class="major">
							<h2>일정 만들기!</h2>
							<span class="byline">보다 쉽게 일정을 만들어보아요!</span>
						</header>
						
						<div id="map" style="width:100%;height:600px;"></div>
							
						<script type="text/javascript" src="//apis.daum.net/maps/maps3.js?apikey=cecab34dad5e8881d1eb3afd670c60b3"></script>
						<script>
							var latlng; // 위도,경도를 저장할 곳
							var message; // 인포윈도우에 표시할 메시지
							
							var container = document.getElementById('map'); //지도를 담을 컨테이너
							var options = { 
								center: new daum.maps.LatLng(37.552517901555234, 126.92499163937063), //지도의 중심좌표(현재 홍익대)
								level: 3 //지도의 레벨(확대, 축소 정도)
							};//지도를 생성할 때 필요한 기본 옵션
					
							var map = new daum.maps.Map(container, options); //지도 생성 및 객체 리턴
							
							var mapTypeControl = new daum.maps.MapTypeControl();
							map.addControl(mapTypeControl, daum.maps.ControlPosition.TOPRIGHT); // 지도 타입 컨트롤 추가
							
							var zoomControl = new daum.maps.ZoomControl();
							map.addControl(zoomControl, daum.maps.ControlPosition.RIGHT); // 지도 확대,축소 컨트롤 추가
							
							//마커 생성
							var marker = new daum.maps.Marker({
						    	draggable : true, // 드래그 가능
						    	map: map // 표시할 지도 객체
							});
							
							//인포윈도우 생성
							var infowindow = new daum.maps.InfoWindow({
								removable : true // 닫을수 있음
							});
							
							// 지도 클릭 시 마커 표시
							daum.maps.event.addListener(map, 'click', function (mouseEvent) {
								infowindow.close();
								latlng = mouseEvent.latLng; //클릭한 위치의 경도, 위도 저장
								
								marker.setPosition(latlng);
								marker.setMap(map);
								
								message = '위도 : ' + latlng.getLat() + ', 경도 : ' + latlng.getLng(); // 메시지 내용
					    		infowindow.setContent(message); // 인포윈도우에 메시지 넣기
							});
							
							//마커 클릭 시 인포윈도우 표시
							daum.maps.event.addListener(marker, 'click', function() {
								infowindow.open(map, marker);
							});
							
							// 마커에 dragstart 이벤트 등록
							daum.maps.event.addListener(marker, 'dragstart', function() {
							    infowindow.close();
							});
					
							// 마커에 dragend 이벤트 등록
							daum.maps.event.addListener(marker, 'dragend', function() {
							    latlng = marker.getPosition();
							    message = '위도 : ' + latlng.getLat() + ', 경도 : ' + latlng.getLng();
							    infowindow.setContent(message);
							    infowindow.open(map, marker);
							});
						</script>
						
					</section>
							
						</div>
						
						<!-- Content -->
						<div id="content" class="8u skel-cell-important">
							<section>
								<header class="major">
									<h2>Left Sidebar</h2>
									<span class="byline">Integer sit amet pede vel arcu aliquet pretium</span>
								</header>
								<p>Maecenas pede nisl, elementum eu, ornare ac, malesuada at, erat. Proin gravida orci porttitor enim accumsan lacinia. Donec condimentum, urna non molestie semper, ligula enim ornare nibh, quis laoreet eros quam eget ante. Aliquam libero. Vivamus nisl nibh, iaculis vitae, viverra sit amet, ullamcorper vitae, turpis. Aliquam erat volutpat. Vestibulum pulvinar sed, imperdiet nec, iaculis nec, leo. Fusce odio. Etiam arcu dui, faucibus eget, placerat vel, sodales eget, orci. Donec ornare neque ac sem. Mauris aliquet. Aliquam sem leo, vulputate sed, convallis at, ultricies quis, justo. Donec nonummy magna. Quisque eleifend. Aliquam lacinia metus ut elit. Donec ornare neque ac sem. Mauris aliquet.</p>
								<p>Donec nonummy magna quis risus. Quisque eleifend. Maecenas pede nisl, elementum eu, ornare ac, malesuada at, erat. Proin gravida orci porttitor enim accumsan lacinia. Donec condimentum, urna non molestie semper, ligula enim ornare nibh, quis laoreet eros quam eget ante. Aliquam libero. Vivamus nisl nibh, iaculis vitae, viverra sit amet, ullamcorper vitae, turpis. Aliquam erat volutpat. Vestibulum dui sem, pulvinar sed, imperdiet nec, iaculis nec, leo. Fusce odio. Etiam arcu dui, faucibus eget, placerat vel, sodales eget, orci. Donec ornare neque ac sem. Mauris aliquet. Aliquam sem leo, vulputate sed, convallis at, ultricies quis, justo. Phasellus tempor vehicula.</p>
								<p>Maecenas pede nisl, elementum eu, ornare ac, malesuada at, erat. Proin gravida orci porttitor enim accumsan lacinia. Donec condimentum, urna non molestie semper, ligula enim ornare nibh, quis laoreet eros quam eget ante. Aliquam libero. Vivamus nisl nibh, iaculis vitae, viverra sit amet, ullamcorper vitae, turpis. Aliquam erat volutpat. Vestibulum dui sem, pulvinar sed, imperdiet nec, iaculis nec, leo. Fusce odio. Etiam arcu dui, faucibus eget, placerat vel, sodales eget, orci. Donec ornare neque ac sem. Mauris aliquet. Aliquam sem leo, vulputate sed, convallis at, ultricies quis, justo. Phasellus tempor vehicula justo. Aliquam lacinia metus ut elit.</p>
							</section>
						</div>
					
					</div>
				</div>
			</div>
























		<!-- Footer -->
			<div id="footer">
				<div class="container">

					<!-- Lists -->
						<div class="row">
							<div class="8u">
								<section>
									<header class="major">
										<h2>여행 이야기</h2>
										<span class="byline"></span>
									</header>
									<div class="row">
										<section class="6u">
											<ul class="default">
												<li><a href="/main.html">여행 이야기</a></li>
												<li><a href="/makeplan.html">여행지</a></li>
												<li><a href="/place.html"></a>일정 만들기</li>
												<li><a href="/recommend.html">추천 여행지</a></li>
											</ul>
										</section>
										<section class="6u">
											<ul class="default">
												<li><a href="#">제작일자 2016년 5월 21일</a></li>
												<li><a href="#">제작자 : 임동찬, 장은상</a></li>
												<li><a href="#"></a></li>
												<li><a href="#"></a></li>
											</ul>
										</section>
									</div>
								</section>
							</div>
							<div class="4u">
								<section>
									<header class="major">
										<h2>제작자 연락처</h2>
										<span class="byline"></span>
									</header>
									<ul class="contact">
										<li>
											<span class="address">Address</span>
											<span> 서울특별시 상수동 홍익대학교 <br />T동 컴퓨터공학과</span>
										</li>
										<li>
											<span class="mail">Mail</span>
											<span><a href="#">eeunsang7@naver.com</a></span>
										</li>
										<li>
											<span class="phone">Phone</span>
											<span>010-9911-6105</span>
										</li>
									</ul>	
								</section>
							</div>
						</div>

					<!-- Copyright -->
						<div class="copyright">
							Design: <a href="http://templated.co">templated.co</a>)
						</div>

				</div>
			</div>

	</body>
</html>